@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

#terminal {
    max-width: 50%;
    margin: 20px auto;    
}

#terminal header {
    text-align: center;
    line-height: 80px;
}

#terminal-output {
    border-radius: 35px;
    border: 1px #ddd solid;
    padding: 25px;
    min-height: 400px;
}

.selector-intro {
    margin-left: 25px;
    margin-bottom: 12px;
    font-style: italic;
}

#terminal-output div,
#terminal-output p:not(.selector-intro) {
    border-radius: 35px;
    border: 1px #ddd solid;
    padding: 15px;
    margin-bottom: 12px;
}

#terminal-input {
    border-radius: 35px;
    border: 1px #ddd solid;
    padding: 15px;
    height: 50px;
    width: 100%;
    font: inherit;
    margin-top: 35px;
}